<template name="twit">
	{{#if getTwit}}
		{{>genericTwit getTwit}}
	{{else}}
		<p>wups, this twit is expired.</p>
	{{/if}}
</template>

<!--
	This is meant for a general purpose Twit, please keep in mind that the to-display Twit should be resided in the Data Context of this template.
-->
<template name="genericTwit">
	<h1>{{twit}}</h1>
	<h3>by {{#with getUser user}}{{username}}{{/with}}</h3>
	<p>{{getTimeLeft}} left</p>
	{{#if isRetwitted}}
		<button id="deRetwit">deretwit</button>
	{{else}}
		<button id="retwit">retwit</button>
	{{/if}}

	{{#if isLiked}}
		<button id="deLike">delike</button>
	{{else}}
		<button id="like">like</button>
	{{/if}}
</template>

<!--
	This is meant for a general purpose Twit, please keep in mind that the to-display Twit should be resided in the Data Context of this template.
-->
<template name="miniTwit">
	<a href="/{{user}}">{{#with getUser user}}{{username}}{{/with}}</a>
	<a href="/twit/{{_id}}">{{twit}}</a>
	<p>tweeted on: {{date}}</p>
	<p>retwitted {{amountOfRetwits}} times</p>
	<p>{{amountOfLikes}} likes</p>
</template>